
body {
    font-family: 'Roboto', sans-serif;
    color: #212529;
    font-weight: 300;
    font-size: 16px
}

nav img {
    width: 86px;
    height: 25px;
} 

h5 {
    font-size: 20px;
}


.precio {
    font-size: 20px;
    font-weight: 400;
}

.card img {
    height: 190px;
    object-fit: cover;
    object-position: middle;
}

footer img {
    width: 82px;
    height: 24px;
}